<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> enjoy your Event!!!</h1>
    <p>
      You successfully are going to attend to <strong><%= @event.name %></strong> event <br>
      We hope you are going to enjoy it!!!
    </p>
    <p>Thanks for visit us</p>
  </body>
</html>
