files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */2 * * * * root /usr/local/bin/send_mail_one_day_before_day.sh

    "/usr/local/bin/send_mail_one_day_before_day.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
          #!/bin/bash
          cd /var/app/current
          bundle exec rake events:mail_before_one_day_event
