<div class="row mb-2">
  <div class="col-md-6">
    <div class="event">
      <strong class="d-inline-block mb-2 text-primary">World</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">Featured post</a>
      </h3>
      <div class="mb-1 text-muted">Nov 12</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <%= image_tag("Ara_Malikian.jpg", class: "event_img") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="event">
      <strong class="d-inline-block mb-2 text-success">Design</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">Post title</a>
      </h3>
      <div class="mb-1 text-muted">Nov 11</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      <%= image_tag("Ara_Malikian.jpg", class: "event_img") %>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="event">
      <strong class="d-inline-block mb-2 text-primary">World</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">Featured post</a>
      </h3>
      <div class="mb-1 text-muted">Nov 12</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
      <%= image_tag("Ara_Malikian.jpg", class: "event_img") %>
    </div>
  </div>
  <div class="col-md-6">
   <div class="event">
     <strong class="d-inline-block mb-2 text-success">Design</strong>
     <h3 class="mb-0">
       <a class="text-dark" href="#">Post title</a>
     </h3>
     <div class="mb-1 text-muted">Nov 11</div>
     <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
     <%= image_tag("Ara_Malikian.jpg", class: "event_img") %>
   </div>
  </div>
</div>
