// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-menu:hover {
  background-color: white;
}

.event-name {
  color: blue !important;
  font-size: 20px;
}
.event-name:hover {
  background-color: white;
}
.event-name  {
  color: blue;
  font-size: 20px;
}

.event-row {
  margin: 50px;
}

.event-description {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  height: 150px;
}

.event-image {
  text-align: center;
}

footer {
  margin-top: 50px;
  padding:15px;
  border-top:#6c757d 1px solid;
  height: 100px;
  text-align: center;
}
